html,
body,
#maindiv,
#outer {
  height: 100%;
}
body {
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
body .loading {
  color: #fff;
  font-size: 10pt;
  font-weight: 100;
  height: 250px;
  left: 50%;
  list-style-type: none;
  margin-left: -100px;
  margin-top: -125px;
  position: absolute;
  top: 50%;
  width: 200px;
}
body .loading li:nth-child(n+2) {
  padding-left: 10px;
}
#maindiv #outer {
  display: none;
  width: 100%;
}
#maindiv #outer .roomView #top-panel .header {
  box-shadow: inset 0px -1px rgba(255,255,255,0.10), 0px 1px 2px #000;
}
#maindiv #outer .roomView #top-panel .header .logo {
  background-image: url("https://s3.amazonaws.com/static.turntable.fm/images/index/logo.png");
  height: 59px;
  top: 0;
}
#maindiv #outer .roomView #top-panel .header .room-buttons {
  right: 45px;
}
#maindiv #outer .roomView #top-panel+div {
  background: -webkit-radial-gradient(center, 50% 100%, rgba(0,0,0,0.00) 70%, rgba(0,0,0,0.80)) center top, -webkit-linear-gradient(top, rgba(0,0,0,0.30), rgba(0,0,0,0.90) 177px, #000 180px, rgba(0,0,0,0.90) 183px, rgba(0,0,0,0.60), #000), url("http://ttfm.info/images/bg.png") !important;
  top: 60px !important;
  z-index: 1;
}
#maindiv #outer .roomView #top-panel+div #meterGauge,
#maindiv #outer .roomView #top-panel+div #meterNeedle,
#maindiv #outer .roomView #top-panel+div > a:nth-child(2),
#maindiv #outer .roomView #top-panel+div > a:nth-child(3) {
  display: none;
}
#maindiv #outer .roomView #right-panel {
  top: 60px;
  width: 100%;
}
#maindiv #outer .roomView #right-panel .panel {
  display: none;
}
#maindiv #outer .roomView #right-panel .panel.active {
  display: block;
}
#maindiv #outer .roomView #right-panel .playlist-container {
  right: 0;
  top: 150px;
  width: 300px;
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist {
  background: #404040;
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist .song {
  background-color: #404040;
  border: 0;
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10);
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist .song .progress {
  background-color: #000;
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist .song .title {
  color: #fff;
  font-weight: 100;
  width: 220px;
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist .song .details {
  color: #fc0;
  font-weight: 100;
  top: 23px;
  width: 220px;
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist .song .remove {
  background: url("https://s3.amazonaws.com/static.turntable.fm/images/index/connect_x_sprite.png") 0px -13px no-repeat;
  height: 13px;
  margin-top: 12px;
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist .song .remove:hover {
  background-position: 0px 0px;
}
#maindiv #outer .roomView #right-panel .playlist-container .songlist .song:nth-child(even) {
  background: rgba(0,0,0,0.10);
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane {
  background: #404040;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .searchText {
  color: #fff;
  width: 208px;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .song .addSong {
  height: 18px;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .song .checkmark {
  height: 19px;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .searchingBlocker {
  background: #202020;
  color: #fff;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .addSongsButton,
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .searchHeader,
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .searchText,
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .search,
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .upload-button {
  left: 46px;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .poweredBy {
  left: 115px;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .cancelButton {
  left: 110px;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .input.songSearch {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)) #404040;
}
#maindiv #outer .roomView #right-panel .playlist-container .mainPane .input.songSearch .numFilesAdded {
  color: #fff;
}
#maindiv #outer .roomView #right-panel .info-container {
  background: #202020;
  height: 150px;
  position: absolute;
  right: 0;
  width: 300px;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 0px 10px;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong .info {
  color: #fc0;
  height: 24px;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong .info span {
  color: #fff;
  left: 55px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 235px;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong .count {
  background: #404040;
  border-radius: 4px;
  box-shadow: inset 0px 1px rgba(255,255,255,0.10);
  color: #fff;
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 7px 3px;
  padding-left: 32px;
  text-align: center;
  width: 32px;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #listeners {
  background: url("https://s3.amazonaws.com/static.turntable.fm/images/index/buddy_list_friend_icon.png") 7px 5px no-repeat #404040;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #upvotes {
  background: url("http://i.imgur.com/WuaW6.png") 8px 3px no-repeat #404040;
  cursor: pointer;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #upvotes.active {
  background-color: rgba(0,255,0,0.20);
  box-shadow: 0px 0px 10px rgba(0,255,0,0.70);
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #upvotes.auto {
  box-shadow: 0px 0px 10px rgba(0,255,0,0.70), inset 0px 0px 3px #0f0;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #downvotes {
  background: url("http://i.imgur.com/SQren.png") 8px 3px no-repeat #404040;
  cursor: pointer;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #downvotes.active {
  background-color: rgba(255,0,0,0.20);
  box-shadow: 0px 0px 10px rgba(255,0,0,0.70);
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #queues {
  background: url("https://s3.amazonaws.com/static.turntable.fm/images/room/heart.png") 9px no-repeat #404040;
  background-size: 14px;
}
#maindiv #outer .roomView #right-panel .info-container .currentSong #queues.active {
  background-color: rgba(255,0,0,0.20);
  box-shadow: 0px 0px 10px rgba(255,0,0,0.70);
}
#maindiv #outer .roomView #right-panel .info-container .room {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00));
  cursor: help;
  height: 32px;
  line-height: 32px;
}
#maindiv #outer .roomView #right-panel .info-container .room .favorite {
  background: url("https://s3.amazonaws.com/static.turntable.fm/images/index/favorite_sprite.png") 0px -23px no-repeat;
  cursor: pointer;
  height: 23px;
  left: 5px;
  opacity: 0.3;
  position: absolute;
  width: 23px;
  top: 4px;
}
#maindiv #outer .roomView #right-panel .info-container .room .favorite-on {
  opacity: 1;
}
#maindiv #outer .roomView #right-panel .info-container .room .name {
  color: #fff;
  font-weight: 100;
  margin-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 1px #000;
  width: 270px;
  white-space: nowrap;
}
#maindiv #outer .roomView #right-panel .info-container .feedback,
#maindiv #outer .roomView #right-panel .info-container .faqButton,
#maindiv #outer .roomView #right-panel .info-container .url,
#maindiv #outer .roomView #right-panel .info-container .share-on {
  display: none;
}
#maindiv #outer .roomView #right-panel .chat-container {
  bottom: 0;
  top: auto !important;
  width: 600px;
  z-index: 3;
}
#maindiv #outer .roomView #right-panel .chat-container .chatHeader {
  border-radius: 4px 4px 0px 0px;
  bottom: 289px;
  cursor: default;
  position: absolute;
}
#maindiv #outer .roomView #right-panel .chat-container .chatHeader .chatResizeIcon {
  background-clip: padding-box;
  background-position: 0px -8px;
  border: 10px transparent solid;
  cursor: pointer;
  display: block;
  height: 5px;
  right: 0px;
  top: 0px;
}
#maindiv #outer .roomView #right-panel .chat-container .chatHeader .chatResizeIcon.minimized {
  background-position: 0px 0px;
}
#maindiv #outer .roomView #right-panel .chat-container .messages {
  border-bottom: 1px #000 solid;
  bottom: 38px;
  font-weight: 100;
  top: auto;
  user-select: text;
  -webkit-user-select: text;
}
#maindiv #outer .roomView #right-panel .chat-container .messages .message {
  background: transparent;
  width: 578px;
}
#maindiv #outer .roomView #right-panel .chat-container .messages .message:nth-child(even) {
  background: rgba(0,0,0,0.10);
}
#maindiv #outer .roomView #right-panel .chat-container .chatBar {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)) #404040;
  box-shadow: inset 0px 1px rgba(255,255,255,0.20), inset 0px -1px rgba(0,0,0,0.20);
  border-top: 0;
  height: 38px;
  width: 100%;
}
#maindiv #outer .roomView #right-panel .chat-container .chatBar .guestListButton {
  display: none;
}
#maindiv #outer .roomView #right-panel .chat-container .chatBar .input-box {
  background: none;
  border-left: 0;
  left: 0;
  width: 100%;
}
#maindiv #outer .roomView #right-panel .chat-container .chatBar .input-box input {
  background: #202020;
  border-radius: 18px;
  box-shadow: 0px 1px rgba(255,255,255,0.10), inset 0px 1px rgba(0,0,0,0.10);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 18px;
  left: 0;
  line-height: 18px;
  margin: 5px;
  padding: 5px 10px;
  top: 0;
  width: 570px;
}
#maindiv #outer .roomView #right-panel .guest-list-container {
  right: 0;
  top: 150px !important;
  width: 300px;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests {
  background: #404040;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .nibTop .guestOptionsNib {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.10));
  box-shadow: none;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guestOptions,
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guestOptionsNib {
  background-color: #404040;
  border-color: rgba(0,0,0,0.20);
  box-shadow: 0 1px 1px rgba(0,0,0,0.50);
  color: #fff;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guestOptions {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00));
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guestOption {
  color: #fff;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guestOption:hover {
  background-color: rgba(255,255,255,0.10);
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest {
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10);
  color: #fff;
  font-weight: 100;
  text-shadow: 0px 1px rgba(0,0,0,0.50);
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest.upvoted {
  background-image: -webkit-linear-gradient(left, rgba(0,130,0,0.30), rgba(0,130,0,0.00)) !important;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest.downvoted {
  background-image: -webkit-linear-gradient(left, rgba(130,0,0,0.30), rgba(130,0,0,0.00)) !important;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .idleTime,
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .icons {
  display: inline-block;
  height: 28px;
  position: absolute;
  right: 28px;
  text-align: right;
  width: 100px;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .idleTime div,
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .icons div {
  float: right;
  margin: 0px 3px;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .idleTime .fan,
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .icons .fan {
  background: url("http://i.imgur.com/qlymb.png");
  height: 14px;
  margin-top: 6px;
  width: 15px;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .idleTime .mod,
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .icons .mod {
  background: url("http://static.turntable.fm.s3.amazonaws.com/images/room/mod_icon.png");
  height: 14px;
  margin-top: 7px;
  width: 12px;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .idleTime .superuser,
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .icons .superuser {
  background: url("http://static.turntable.fm.s3.amazonaws.com/images/room/superuser_icon.png");
  height: 15px;
  margin-top: 7px;
  width: 15px;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .idleTime .dj,
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest .icons .dj {
  background: url("http://i.imgur.com/cE9h5.png");
  height: 11px;
  margin-top: 9px;
  width: 13px;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest:hover {
  background-color: transparent;
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest:nth-child(even) {
  background-color: rgba(0,0,0,0.10);
}
#maindiv #outer .roomView #right-panel .guest-list-container .guests .guest.selected {
  background-color: rgba(0,0,0,0.50);
}
#maindiv #outer .roomView #right-panel .guest-list-container .chatBar {
  display: none;
}
#maindiv #outer .roomView #right-panel .songlog-container {
  right: 0;
  top: 150px;
  width: 300px;
}
#maindiv #outer .roomView #right-panel .songlog-container .content {
  background: #404040;
  bottom: 0;
  height: 100%;
  left: auto;
  top: auto;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .infowrap {
  background: #202020;
  color: #fff;
  display: none;
  height: 120px;
  padding: 0;
  top: -120px;
  position: absolute;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .infowrap .description {
  padding-left: 5px;
  width: 290px;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .infowrap .description a {
  color: #fc0;
  text-decoration: none;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .infowrap .description,
#maindiv #outer .roomView #right-panel .songlog-container .content .infowrap .edit-description {
  height: 85px;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .infowrap .edit-description {
  left: 0;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .infowrap .edit-description textarea {
  background: #000;
  border: 0;
  box-shadow: 0px 1px rgba(255,255,255,0.10);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  padding: 5px;
  width: 290px;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .panel {
  position: absolute;
  top: 0;
  width: 300px;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .panel > .title {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)), url("https://s3.amazonaws.com/static.turntable.fm/images/room/music_icon.png") 6px 5px no-repeat, #202020;
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10);
  color: #fff;
  font-size: 12pt;
  font-weight: 100;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 32px;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .panel .songlog {
  background: #404040;
  color: #fff;
}
#maindiv #outer .roomView #right-panel .songlog-container .content .panel .songlog .song {
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10);
}
#maindiv #outer .roomView #right-panel .songlog-container .content .panel .songlog .song2 {
  background: rgba(0,0,0,0.10);
}
#maindiv #outer .roomView #right-panel .songlog-container .content .panel .songlog .title {
  font-weight: 100;
}
#maindiv #outer .roomView #right-panel .songlog-container .button {
  display: none;
}
#maindiv #outer .roomView #right-panel .settings-container .content form button {
  background: -webkit-linear-gradient(transparent, rgba(255,255,255,0.10) 40%, transparent) #606060;
  border: 0;
  border-radius: 4px;
  bottom: 10px;
  box-shadow: 0px 1px rgba(0,0,0,0.10), inset 0px 1px rgba(255,255,255,0.10);
  color: #303030;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11pt;
  height: 24px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  text-shadow: 0px 1px rgba(255,255,255,0.20);
  width: 200px;
}
#maindiv #outer .roomView #right-panel .settings-container .content form button:hover {
  background-color: #707070;
}
#maindiv #outer .roomView #right-panel .settings-container .content .section {
  margin-bottom: 5px;
}
#maindiv #outer .roomView #right-panel .settings-container .content .section .sectionTitle {
  background: -webkit-linear-gradient(left, rgba(255,255,255,0.20), transparent);
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  height: 25px;
  line-height: 25px;
  margin: 0px 0px 5px 0px;
  padding: 0px 0px 0px 32px;
  text-shadow: 0px 1px #000;
}
#maindiv #outer .roomView #right-panel .settings-container .content .section .option {
  color: #fff;
  font-size: 10pt;
  font-weight: 100;
  line-height: 20px;
  padding: 0px 10px;
}
#maindiv #outer .roomView #right-panel .settings-container .content .section .option input {
  margin-right: 10px;
}
#maindiv #outer .roomView #right-panel .settings-container,
#maindiv #outer .roomView #right-panel .activity-log-container {
  background-color: #404040;
  position: absolute;
  right: 0;
  top: 150px;
  width: 300px;
}
#maindiv #outer .roomView #right-panel .settings-container .title,
#maindiv #outer .roomView #right-panel .activity-log-container .title {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)), url("https://s3.amazonaws.com/static.turntable.fm/images/room/guest_list_icon_top.png") 6px 6px no-repeat, #202020;
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10);
  color: #fff;
  font-size: 12pt;
  font-weight: 100;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 32px;
}
#maindiv #outer .roomView #right-panel .settings-container ul,
#maindiv #outer .roomView #right-panel .activity-log-container ul {
  list-style-type: none;
  overflow: auto;
}
#maindiv #outer .roomView #right-panel .settings-container ul li,
#maindiv #outer .roomView #right-panel .activity-log-container ul li {
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10);
  color: rgba(255,255,255,0.90);
  font-size: 12px;
  font-weight: 100;
  height: 28px;
  line-height: 28px;
  margin: 0;
  overflow: hidden;
  padding: 0px 5px 0px 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#maindiv #outer .roomView #right-panel .settings-container ul li:nth-child(even),
#maindiv #outer .roomView #right-panel .activity-log-container ul li:nth-child(even) {
  background-color: rgba(0,0,0,0.10);
}
#maindiv #outer .roomView #right-panel .bottom-bar {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)) #404040;
  box-shadow: inset 0px 1px rgba(255,255,255,0.20), inset 0px -1px rgba(0,0,0,0.20);
  bottom: 0;
  height: 38px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
#maindiv #outer .roomView #right-panel .bottom-bar .panelButtons {
  list-style-type: none;
  position: absolute;
  right: 0px;
}
#maindiv #outer .roomView #right-panel .bottom-bar .panelButtons li {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)) #404040;
  border-left: 1px rgba(0,0,0,0.10) solid;
  box-shadow: inset 0px 1px rgba(255,255,255,0.20), inset 0px -1px rgba(0,0,0,0.20);
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 10pt;
  font-weight: 100;
  height: 38px;
  line-height: 38px;
  margin: 0px;
  padding: 0px 9px;
  text-shadow: 0px 1px rgba(0,0,0,0.20);
}
#maindiv #outer .roomView #right-panel .bottom-bar .panelButtons li:hover {
  background: -webkit-linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.00)) #404040;
}
#maindiv #outer .roomView #right-panel .bottom-bar .panelButtons li.active {
  background-color: #202020;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.80), 0px 1px rgba(255,255,255,0.30);
}
#maindiv #outer .roomView #right-panel .black-right-header {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)) #202020;
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10);
  cursor: default;
}
#maindiv #outer .roomView #right-panel .black-right-header .icon {
  top: 5px;
}
#maindiv #outer .roomView #right-panel .black-right-header .header-text {
  font-weight: 100;
  left: 32px;
}
#maindiv #outer .roomView #right-panel .black-right-header .header-text #totalUsers {
  font-size: 9pt;
}
#maindiv #outer .roomView #right-panel .black-right-header .header-text #totalUsers:before {
  content: '(';
}
#maindiv #outer .roomView #right-panel .black-right-header .header-text #totalUsers:after {
  content: ')';
}
#maindiv #outer .roomView .profile {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)) #404040;
  border: 0;
  border-radius: 0px 0px 4px 4px;
  box-shadow: inset 0px 1px rgba(255,255,255,0.10), inset 0px -1px rgba(0,0,0,0.10), 0px 0px 20px #000;
  color: #fff;
  left: 50%;
  margin-left: -390px;
  text-shadow: 0px 1px #000;
  top: 0;
}
#maindiv #outer .roomView .profile .close-x {
  background: url("https://s3.amazonaws.com/static.turntable.fm/images/index/connect_x_sprite.png") 0px -13px no-repeat;
  height: 13px;
  left: auto;
  right: 20px;
  top: 15px;
  width: 12px;
}
#maindiv #outer .roomView .profile .close-x:hover {
  background-position: 0px 0px;
}
#maindiv #outer .roomView .profile .social {
  height: 40px;
}
#maindiv #outer .roomView .profile .info {
  overflow: hidden;
  width: 240px;
}
#maindiv #outer .roomView .profile .info .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#maindiv #outer .roomView .profile a {
  color: #fc0;
  text-decoration: none;
}
#maindiv #footer {
  bottom: 0;
  position: absolute;
}
.overlay .modal {
  background: -webkit-linear-gradient(rgba(255,255,255,0.10), rgba(255,255,255,0.00)) #404040;
  border: 0;
  border-radius: 4px;
  left: 50%;
  margin-left: -355px;
  position: absolute;
}
.overlay .modal a {
  color: #fc0;
  text-decoration: none;
}
.point_display {
  background-color: #202020;
}
.chatResizeIcon {
  display: none;
}
textarea:focus {
  outline: none;
}
.mute_btn {
  z-index: 999999;
}
::-webkit-scrollbar {
  background-color: #202020;
  box-shadow: inset 2px 0px 5px -3px #000;
  position: absolute;
  width: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: #202020;
}
::-webkit-scrollbar-thumb {
  background: #fc0;
  box-shadow: inset 2px 0px 5px -3px #000;
}
